ul {
  main{display:grid;
  grid-template-columns:50%50%;}
image-grid{grid-template-columns:50%50%}
h1 {
    text-align: center;   
}
body {
  font-family: 'Open Sans', sans-serif;
}
div {
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav {
  display: block;
  text-align: center;
}
  #panelpic1{
            content: url(shaneraz.jpg);
            float: left;
            width: 250px;
            height: 150px;
            vertical-align: middle;               
           }